<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1052129564127-o0um782c2m3e1jbtk79pn6tdopbh19mt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1052129564127-o0um782c2m3e1jbtk79pn6tdopbh19mt</string>
	<key>API_KEY</key>
	<string>AIzaSyBDYsP4bRz93ESfpY5GxuhS_NMESAtHRXg</string>
	<key>GCM_SENDER_ID</key>
	<string>1052129564127</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>timur.karev.wallet</string>
	<key>PROJECT_ID</key>
	<string>wallet-9b13f</string>
	<key>STORAGE_BUCKET</key>
	<string>wallet-9b13f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1052129564127:ios:d7ea781bf0166aa463206a</string>
</dict>
</plist>